
<p-menubar [model]="HeaderItems">
  <ng-template #start>
    <span class="mx-auto text-2xl mr-20">AntiScamBL</span>
  </ng-template>
  <ng-template #end>
      <div *ngIf="IsLoggedIn; else notLoggedIn">
        Logged in as <b>{{LoggedInUser?.name}} (GitHub)</b> 
      </div>

      <ng-template #item let-item>
        <p-button [routerLink]="item.routerLink" variant="outlined">
          <ng-icon [name]="item.icon" /> {{item.label}}
        </p-button>
      </ng-template>

      <ng-template #notLoggedIn>
        <div class="flex items-center gap-2">
            <a [href]="GitHubLoginURL">Login to GitHub</a>
        </div>
      </ng-template>
  </ng-template>
</p-menubar>
